/* ========================================================================== *
 
       NEWDAYS
 
   ========================================================================== */
/* Reset Style
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic Style
   ========================================================================== */
body {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-head.png), url(../img/bg-star.png);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0;
  background-size: 316px 51px, auto auto;
  font-family: sans-serif;
  color: #FFCC00;
  position: relative;
  -webkit-text-size-adjust: none;
}

html, body {
  height: 100%;
}

.ly-wrap {
  min-height: 100%;
}

a:link,
a:visited {
  color: #FFCC00;
  text-decoration: none;
  outline: none;
}

/* Layout Style
   ========================================================================== */
.ly-section-01 {
  width: 260px;
  margin: 0 auto;
  padding: 40px 30px 60px;
}
.ly-section-01 h1,
.ly-section-01 h2 {
  text-align: center;
  margin-bottom: 2em;
  font-weight: bold;
}
.ly-section-01 p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.ly-section-02 {
  width: 260px;
  margin: 0 auto;
  padding: 40px 30px 60px;
}
.ly-section-02 h1 {
  padding-right: 1em;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.ly-section-03 {
  width: 260px;
  margin: 0 auto;
  padding: 40px 30px 60px;
}
.ly-section-03 h1 {
  padding-top: 104px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 2em;
}
.ly-section-03 p {
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.6;
  color: #fff;
}
.ly-section-03 p span {
  padding-left: 30px;
  background: url(../img/ic.png) no-repeat 0 4px;
  background-size: 18px 21px;
  font-family: cursive;
  font-size: 24px;
}

.ly-foot {
  width: 100%;
  height: 60px;
  margin-top: -60px;
  background: url(../img/bg-foot.png) no-repeat 50% 100%;
  background-size: 316px 51px;
}
.ly-foot p {
  width: 260px;
  margin: 0 auto;
  padding: 10px 30px 40px;
  text-align: center;
  font-size: 12px;
  color: #FFF;
}

/* Mudule Style
   ========================================================================== */
/*  */
.md-dialog-chara-01 {
  position: relative;
  width: 146px;
  height: 229px;
  margin: -200px 0 0 auto;
  background: url(../img/chara-voyager.png) no-repeat 100% 100%;
  background-size: 145px 223px;
}

.md-dialog-box-01 {
  width: 96%;
  margin-bottom: 10px;
  padding: 2%;
  border: #FFF 2px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #eeeeee;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(64%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 64%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 64%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, #ffffff 64%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 64%);
  background-image: linear-gradient(top, #eeeeee 0%, #ffffff 64%);
  color: #333;
  line-height: 1.6;
}
.md-dialog-box-01 a {
  color: #F93;
  text-decoration: underline;
}

.md-dialog-box-02 {
  width: 92%;
  padding: 10px 4%;
  border: #333 2px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #444;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF444444', endColorstr='#FF000000');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(30%, #000000));
  background-image: -webkit-linear-gradient(top, #444444 0%, #000000 30%);
  background-image: -moz-linear-gradient(top, #444444 0%, #000000 30%);
  background-image: -o-linear-gradient(top, #444444 0%, #000000 30%);
  background-image: -ms-linear-gradient(top, #444444 0%, #000000 30%);
  background-image: linear-gradient(top, #444444 0%, #000000 30%);
  color: #333;
  line-height: 1.6;
}
.md-dialog-box-02 h1, .md-dialog-box-02 h2, .md-dialog-box-02 h3, .md-dialog-box-02 h4, .md-dialog-box-02 h5, .md-dialog-box-02 h6 {
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
  text-shadow: 1px 1px 3px #030303;
  filter: dropshadow(color=#030303, offx=1, offy=1);
}

textarea {
  width: 96%;
  margin-bottom: 5px;
  padding: 1.4%;
  height: 115px;
  -webkit-appearance: none;
  border: #FFF 2px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit],
.md-btn-01 a {
  width: 130px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  -webkit-appearance: none;
  border: #FC7339 2px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #fffaf2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFAF2', endColorstr='#FFFF743A');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffaf2), color-stop(50%, #ffc38e), color-stop(51%, #ff9c4e), color-stop(100%, #ff743a));
  background-image: -webkit-linear-gradient(top, #fffaf2 0%, #ffc38e 50%, #ff9c4e 51%, #ff743a 100%);
  background-image: -moz-linear-gradient(top, #fffaf2 0%, #ffc38e 50%, #ff9c4e 51%, #ff743a 100%);
  background-image: -o-linear-gradient(top, #fffaf2 0%, #ffc38e 50%, #ff9c4e 51%, #ff743a 100%);
  background-image: -ms-linear-gradient(top, #fffaf2 0%, #ffc38e 50%, #ff9c4e 51%, #ff743a 100%);
  background-image: linear-gradient(top, #fffaf2 0%, #ffc38e 50%, #ff9c4e 51%, #ff743a 100%);
  text-shadow: 1px 1px 3px #FC7339;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
  display: block;
  color: #000;
}

.md-link-01 {
  margin-top: 10px;
}
.md-link-01 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.md-link-01 li {
  margin-bottom: 10px;
}
.md-link-01 a {
  display: block;
  width: 83px;
  height: 33px;
}
.md-link-01 li:first-child a {
  background: url(../img/btn-memory.png) no-repeat 0 0;
  background-size: 83px 33px;
}
.md-link-01 li:last-child a {
  background: url(../img/btn-map.png) no-repeat 0 0;
  background-size: 83px 33px;
}

.md-link-top-01 {
  margin: 20px 0;
  text-align: center;
  text-decoration: underline;
  font-size: 13px;
}

.md-figure-01 {
  width: 316px;
  margin: 0 0 10px -30px;
  border: #fff 2px solid;
  line-height: 1;
  font-size: 0;
}
.md-figure-01 img {
  line-height: 1;
}
